--extra-index-url https://download.pytorch.org/whl/cpu

flask==3.0.2
torch==2.2.0
transformers==4.38.2
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
requests==2.31.0
gunicorn==21.2.0
python-dotenv==1.0.1
streamlit==1.32.0
pydantic<3.0.0
